# Copie para terraform.tfvars (fora do git) e ajuste.
node_name        = "pve-01"
pve_host_address = "192.0.2.6"

# Reserva DHCP: vm_mac_address -> vm_ip
vm_ip          = "192.0.2.5"
vm_mac_address = "02:00:00:00:00:01"
