[defaults]
inventory = inventory/hosts.yml
roles_path = roles
remote_user = ops
host_key_checking = True
interpreter_python = auto_silent
callback_result_format = yaml

[ssh_connection]
pipelining = True
